* {
  box-sizing: border-box;   
}

body {
    background-image: url("binding_light.png");
    margin: 0 auto;
    width: 1180px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 75px;
    background-color: white;  
    margin-bottom: 75px;
}

#name {
    width: 165px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 150px;
    float: left;
}

#header-nav {
    
    display: block;
    margin-right: 177px;
    font-size: 110%;
    line-height: 4em;
    word-spacing: 3px;
    float: right; 
}

a:link {
    text-decoration: none;
    color: dimgray;
}
a:visited {
    text-decoration: none;
    color: teal;
}

a:hover {
    color: blue;
}

a:active {
    text-decoration: underline;
}

.clear {
    clear:both;
}

#about-me {
    width: 500px;
    height: 520px;
    color: #4aaaa5;
    background-color: white;
    font-size: 125%;
    font-weight: bold;
    margin-left: 150px;
    padding: 40px;
    float: left;
}

#image-me {
    margin-right: 10px;
    float: left;
    
}

.about-para {
    color: black;
    font-size: 90%;
    font-weight: normal;
    line-height: 1.35em
}

#connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 270px;
    height: 150px;
    margin-top: 10px;
    padding: 20px;
    margin-right: 100px;
    background-color: white;
    text-align: center;
    float: right;
}
form {
    width: 625px;
    height: 520px;
   background-color: white;
    padding: 35px;
    float: left;
}

#name-color {
    color: #4aaaa5;
    font-size: 22px;
    font-weight: bold;
}

.button {
    background-color: #4aaaa5;
    color: white;
    border: none;
    padding: 15px 30px;
}

article {
    background: #fff;
    overflow: auto;
    display: block;
    width: 580px;
    padding: 20px;
    margin: 35px 100px 50px 0px;
    float:left;
}

h2{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #4aaaa5;
}

.image-grid {
    float: left;
    position: relative;
}
.portfolio-image {
    width: 250px;
    height: 250px;
    padding: 15px 15px;
}
h3 {
    
    font-size: 14px;
    color: white;
    background-color: #69918E;
    text-align: center;
    position: absolute;
    width: 220px;
    padding: 10px;
    top: 190px;
    left: 15px;
}

#connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 270px;
    height: 150px;
    margin-top: 36px;
    padding: 20px;
    margin-right: 125px;
    background-color: white;
    text-align: center;
    float: right;
}

.clear {
    clear:both;
}


#above-footer {
    margin-bottom: 0;
    margin-top: 50px;
    border: 0;
    border-top: 5px solid #388E8E;
    border-bottom: 5px solid #388E8E;
}

footer {
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 5em;
    background-color: dimgray;
    color: darkgrey;
    
}

/* begin media queries - index.html */
 /*-- max width 980 */
@media screen and (max-width: 980px) {
    #about-me {
    width: 380px;
    height: 700px;
    color: #4aaaa5;
    background-color: white;
    font-size: 125%;
    font-weight: bold;
    margin-left: 100px;
    padding: 40px;
    float: left;
    }
    
    #image-me {
    margin-right: 10px; 
    }
    
    #connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 270px;
    height: 150px;
    margin-top: 36px;
    padding: 20px;
    margin-right: 125px;
        margin-left: 25px;
    background-color: white;
    text-align: center;
    float:left;
    }
    #header-nav {
    display: block;
    margin-left: 250px;
    font-size: 110%;
    line-height: 4em;
    word-spacing: 3px;
    float: left; 
    }
    #name {
    width: 165px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 100px;
    float: left;
    }
        
}

/* max-width 768 index.html */
@media screen and (max-width: 768px) {
    
    #name {
    width: 165px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    float: left;
    }
    
    #about-me {
    width: 500px;
    height: 520px;
    color: #4aaaa5;
    background-color: white;
    font-size: 125%;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 30px;
    padding: 40px;
    float: left;
    }
    
    #connect-with {
    font-size: 155%;
    text-align: left;
        font-weight: bold;
    color: #4aaaa5;
    width: 500px;
    height: 180px;
    margin-top: 36px;
    margin-right: 125px;
    background-color: white;
    }   
}

 /* max-width 640 index.html */
@media screen and (max-width: 640px) {
    
    body {
        width: 640px;
    }
    
    header {
    width: 630px;
    height: 75px;
    background-color: white;  
    margin-bottom: 75px;
    }
    
    header #name {
    width: 630px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 25px 0px 20px;
    float: left;
    }
    
   header #header-nav {
    width: 100%;
    background-color: white;
    display: block;
    font-size: 110%;
       padding-left: 150px;
    line-height: 4em;
    text-align: left;
    word-spacing: 35px;
    margin: 0px 25px 15px 20px;
    
}
    
#about-me {
    width: 630px;
    height: 800px;
    color: #4aaaa5;
    background-color: white;
    font-size: 125%;
    font-weight: bold;
    margin-left: 15px;
    padding: 40px;
    
    }
    
    #about-me #image-me {
    height:350px;
    width: 540px;
    margin-right: 10px;
    margin-bottom: 10px;   
    float:none;
    
    }
    
    #connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 470px;
    height: 150px;
    margin-top: 36px;
    padding: 20px;
    margin-left: 15px;
    background-color: white;
    text-align: center;
   
    }
    
}

/* begin media queries - contact.html */
/*-- max width 980 */
@media screen and (max-width: 980px) {
    
    form {
    width: 425px;
    height: 550px;
    margin-left: 100px;
    background-color: white;
    padding: 35px;
    
    }
    
    #connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 270px;
    height: 150px;
    margin-top: 10px;
    padding: 20px;
    margin-right: 100px;
    background-color: white;
    text-align: center;
    
    }
    
    #name {
    width: 185px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 20px;
    }
    
    #header-nav {
    display: block;
    margin-right: 167px;
    font-size: 110%;
    line-height: 4em;
    word-spacing: 3px;    
    }
}

/*-- max width 768 contact.html */
@media screen and (max-width: 768px) {
    #name {
    width: 165px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    float: left;
    }
    
    form {
    width: 600px;;
    height: 550px;
    margin-left: 25px;
    background-color: white;
    padding: 35px;
    }
    
    #connect-with {
    font-size: 155%;
    text-align: left;
    font-weight: bold;
    color: #4aaaa5;
    width: 600px;
    height: 180px;
    margin-top: 36px;
    margin-right: 125px;
    background-color: white;  
    }   
}

/* max-width 640 contact.html */
@media screen and (max-width: 640px) {
    
   body {
        width: 640px;
    }
    
    header {
    width: 630px;
    height: 75px;
    background-color: white;  
    margin-bottom: 75px;
    }
    
    header #name {
    width: 630px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 25px 0px 20px;
    float: left;
    }
    
   header #header-nav {
    width: 100%;
    background-color: white;
    display: block;
    font-size: 110%;
       padding-left: 150px;
    line-height: 4em;
    text-align: left;
    word-spacing: 35px;
    margin: 0px 25px 15px 20px;   
    }
    
    #connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 470px;
    height: 150px;
    margin-top: 36px;
    padding: 20px;
    margin-left: 15px;
    background-color: white;
    text-align: center;
   
    }
    
}

/* begin media queries - portfolio.html */
 /*-- max width 980 */
@media screen and (max-width: 980px) {
    
    article {
    background: #fff;
    overflow: auto;
    display: block;
    width: 290px;
    padding: 20px;
    margin: 35px 100px 50px 100px;
    float:left;
    }
    
    #name {
    width: 165px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 100px;
    float: left;
    }

    #connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 260px;
    height: 150px;
    margin-top: 35px;
    padding: 20px;
    margin-right: 100px;
    background-color: white;
    text-align: center;
    float: left;
    }

}

/*-- max width 768 portfolio.html */
@media screen and (max-width: 768px) {
    
    #name {
    width: 165px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    float: left;
    }
    
    article {
    background: #fff;
    overflow: auto;
    display: block;
    width: 580px;
    padding: 20px;
    margin: 35px 100px 50px 20px;
    }
    
    #connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 580px;
    height: 150px;
    margin-top: 36px;
    padding: 20px;
    margin-right: 125px;
    background-color: white;
    text-align: left;
    float: left;
    }   
}

/* max-width 640 portfolio.html */
@media screen and (max-width: 640px) {
    
    body {
        width: 640px;
    }
    
    header {
    width: 630px;
    height: 75px;
    background-color: white;  
    margin-bottom: 75px;
    }
    
    header #name {
    width: 630px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 25px 0px 20px;
    float: left;
    }
    
   header #header-nav {
    width: 100%;
    background-color: white;
    display: block;
    font-size: 110%;
       padding-left: 150px;
    line-height: 4em;
    text-align: left;
    word-spacing: 35px;
    margin: 0px 25px 15px 20px;   
    }
    
    #connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 580px;
    height: 150px;
    margin-top: 36px;
    padding: 20px;
    margin-left: 15px;
    background-color: white;
    text-align: center;
   
    }
    
    article {
    background: #fff;
    overflow: auto;
    display: block;
    width: 290px;
    padding: 20px;
    margin: 35px 100px 50px 100px;
    float:left;
    }
    
    
    

   
}

